<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="row">
                <img src="/public/assets/img/burger.png" alt="burger">
            </div>
            <div class="row">
                <h1>Eat-Da-Burger!</h1>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <form>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </form>
    <p>Enter a burger that you want to eat Click the "Submit" buttonm.</p> 
</div>